<div class="callUsCard-container">

    <div class="callUsCard-imgContainer">
        <img src="~/images/membership-page/membership-options/callUs-section-img.svg" alt="A picture of a woman exercising with dumbbells." class="callUsCard-img" />
    </div>

    <div class="callUsCard-section1">
        Get Your Membership
    </div>

    <div class="callUsCard-section2">
        Our memberships give you access to all
        <span class="rb"></span>
        equipment, personalized training.
    </div>

    <div class="callUsCard-section3">
        <div class="callUsCard-line"></div>
    </div>

    <div class="callUsCard-section4">
        Call Us At: +(46) 8 410 521 00
    </div>

    <div class="callUsCard-section5">
        @await Html.PartialAsync("Partials/_CallUsTodayButton")
    </div>

</div>