@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --color-darkBg: #131020;
    --color-lightBg: #F7F7F7;
    --color-accent: #D6EB31;
    --color-white: #FFFFFF;
    --color-gray: #6F6F6F;
    --color-darkGray: #575757;
    --color-PlaceHolderTxt: #A7A7A7;
    --color-black: #000000;
    --color-red: #E50004;
    --color-charcoal: #27252F;
}

a {
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;

    &:hover {
        color: var(--color-accent);
    }
}

p {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-gray);
    font-family: "DMSans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--color-white);
    font-size: 54px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

h2 {
    color: var(--color-white);
    font-size: 16px;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
}

h3, h4 {
    color: var(--color-charcoal);
    font-size: 48px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

h5 {
    color: var(--color-black);
    font-size: 16px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
}

h6 {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-black);
    font-family: "DM Sans", sans-serif;
}

html, body {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    scroll-behavior: smooth;
    color: var(--color-gray);
    font-family: "DMSans", sans-serif;
}

.wrapper {
    margin-top: 17px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 16px;
    grid-template-rows: auto 1fr auto;
    height: 100dvh;
}

.container {
    display: flex;
    justify-content: center;
    padding-left: 0rem;
    padding-right: 0rem;
    width: 100%;

    @media (width >= 768px) {
        max-width: 720px;
    }

    @media (width >= 1024px) {
        max-width: 1000px;
    }

    @media (width >= 1440px) {
        max-width: 1400px;
    }

    @media (width < 1920px) {
        max-width: 1920px;
    }
}

.Home .header {
    width: 100%;
    height: 100px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px 25px 0 0;
    background-color: var(--color-darkBg);
    background-image: url("/images/header/dark-section-img.svg");

    .navbar {
        display: none;
    }

    .become-memberTxt {
        display: none;
    }

    .signIn-btn {
        display: none;
    }

    @media (width <= 374px) {
        padding: 0px;
    }

    @media (width >= 375px) {
        padding: 15px;

    }

    @media (width >= 768px) {
        padding: 32px;

    }

    @media (width >= 1250px) {
        padding: 32px;


        .menulogo-phone {
            display: none;
        }

        .navbar {
            display: flex;
        }

        .become-memberTxt {
            display: flex;
        }

        .signIn-btn {
            display: flex;
        }
    }


}

.menulogo-phone {
    position: relative;
    margin-left: 8px;

    @media(width >= 374px) {
        margin-left: 25px;
    }

    @media(width >= 425px) {
        margin-left: 32px;
    }

    @media(width >= 500px) {
        margin-left: 70px;
    }

    @media(width >= 768px) {
        margin-left: 200px;
    }

    @media(width >= 1024px) {
        margin-left: 330px;
    }

    @media(width >= 1247px) {
        margin-left: 340px;
    }
}

/* ---- From W3Schools "How to - Mobile Navigation Menu" tutorial and help debugging from ChatGPT. Nav bar ( Phone and Tablet ) ---- */

.topnav {
    position: relative;
}

.topnav #my-links {
    width: 200px;
    display: none;
    position: absolute;
    right: 20px;
    top: 40px;
}

.topnav #my-links.show {
    display: block;
    border-radius: 10px;
    background-color: var(--color-accent);
}

.topnav a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--color-charcoal);

    &:hover {
        text-decoration: underline;
        color: var(--color-charcoal);
    }
}

.topnav a.icon {
    background: var(--color-darkBg);
    display: block;
    position: absolute;
    z-index: 0;
    right: 0;
    top: 0;
}

/* --------------------- Nav bar End ( Phone and Tablet )--------------------- */

/* --------------- Training link - dropdown ( Phone and Tablet ) ------------- */

.nav-dropdown2 {
    position: relative;
}

.nav-dropdown2 #my-links3 {
    width: 200px;
    height: 130px;
    display: none;
    position: absolute;
    border-radius: 20px;
    padding: 20px 0px;
    border: 1px solid;
    border-color: var(--color-charcoal);
    background-color: var(--color-accent);
    top: 35px;
}

.nav-dropdown2 #my-links3 a {
    color: var(--color-charcoal);

    &:hover {
        text-decoration: underline;
    }
}

.nav-dropdown2 #my-links3.show {
    display: block;
    border-radius: 10px;
}

.link-list2 {
    width: 250px;
    margin-top: -10px;
    margin-left: -10px;
    line-height: 10px;
    color: var(--color-charcoal)
}


/* ----------------------------- Training link END --------------------------- */

/* ---------------------            Nav Desktop-size        -------------------*/

.nav-dropdown {
    position: relative;
}

.nav-dropdown #my-links2 {
    width: 192px;
    height: 134px;
    display: none;
    position: absolute;
    border-radius: 20px;
    padding: 20px 0px;
    background-color: var(--color-accent);
    left: 0px;
    top: 40px;
}

.nav-dropdown #my-links2 a {
    color: var(--color-charcoal);

    &:hover {
        text-decoration: underline;
    }
}

.nav-dropdown #my-links2.show {
    display: block;
    border-radius: 10px;
}

.link-list {
    width: 180px;
    margin-top: -7px;
    margin-left: -10px;
    line-height: 35px;
    color: var(--color-charcoal)
}

.navbar {
    width: 320px;
    justify-content: space-between;

    @media ( width >= 1260px) {
        width: 630px;
        margin-right: 85px;
    }

    @media ( width < 1980px) {
        width: 630px;
        margin-right: 100px;
    }
}

/* ----------------- nav bar End ( Desktop ) ------------------- */

.header-rs {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signIn-btn {
    height: 50px;
    width: 130px;
    display: grid;
    align-content: center;
    justify-content: center;
    border-radius: 50px;
    background-color: var(--color-accent);
}

.signIn-btn:hover {
    background-color: var(--color-white);
}

.signIn-btnTxt {
    display: flex;
    padding: 8px 17px;
    color: var(--color-charcoal);
}

.singIn-btnIcon{
    margin-top: 9px;
    margin-left: -9px;
}

/* ----------------- Header design for the other pages -----------------*/

.Memberships .header, .CustomerService .header, .MyAccount .header, .SignIn .header, .SignUp .header, .SetPassword .header, .NotFound .header {
    width: 100%;
    height: 100px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    background-color: var(--color-darkBg);
    background-image: url("/images/header/dark-section-img.svg");

    .navbar {
        display: none;
    }

    .become-memberTxt {
        display: none;
    }

    .signIn-btn {
        display: none;
    }

    @media (width <= 374px) {
        padding: 0px;
    }

    @media (width >= 375px) {
        padding: 15px;
    }

    @media (width >= 768px) {
        padding: 32px;
    }

    @media (width >= 1250px) {
        padding: 32px;

        .menulogo-phone {
            display: none;
        }

        .navbar {
            display: flex;
        }

        .become-memberTxt {
            display: flex;
        }

        .signIn-btn {
            display: flex;
        }
    }
}

.menulogo-phone {
    position: relative;
    margin-left: 8px;

    @media(width >= 374px) {
        margin-left: 25px;
    }

    @media(width >= 425px) {
        margin-left: 32px;
    }

    @media(width >= 500px) {
        margin-left: 70px;
    }

    @media(width >= 768px) {
        margin-left: 200px;
    }

    @media(width >= 1024px) {
        margin-left: 330px;
    }

    @media(width >= 1247px) {
        margin-left: 340px;
    }


    .header-rs {
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .signIn-btn {
        height: 50px;
        width: 130px;
        display: grid;
        align-content: center;
        justify-content: center;
        border-radius: 50px;
        background-color: var(--color-accent);
    }

    .signIn-btn:hover {
        background-color: var(--color-white);
    }

    .signIn-btnTxt {
        display: flex;
        padding: 8px 17px;
        color: var(--color-charcoal);
    }

    .singIn-btnIcon {
        margin-top: 9px;
        margin-left: -9px;
    }
}

/* ------------------------ Header design for the other pages (END) ------------------------*/

.footer-section {
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--color-lightBg);

    @media (width >= 1440px) {
        height: 660px;
    }


    .footer {
        height: 80px;
        width: 100%;
        display: flex;
        margin-top: 30px;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        background-color: var(--color-darkBg);
        background-image: url("/images/footer/dark-section-img.svg");

        .footerContent-phone {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            align-items: baseline;
            justify-content: space-between;
        }

        .footerContent-desktop {
            height: 490px;
            width: 800px;
            display: none;
            justify-content: center;

            @media (width >= 1600px) {
                width: 1194px;
            }

            .footer-section1 {
                display: flex;
                align-content: center;
                justify-content: space-between;

                .footer-logo {
                    height: 50px;
                    width: 214px;
                    margin-top: 20px;
                }

                .footerH3-container {

                    .footerH3-1 {
                        font-size: 20px;
                        color: var(--color-white);

                        @media (width >= 1600px) {
                            font-size: 28px;
                        }
                    }

                    .footerH3-2 {
                        font-size: 20px;
                        text-align: end;
                        color: var(--color-white);

                        @media (width >= 1600px) {
                            font-size: 28px;
                        }
                    }
                }
            }

            .footer-section2 {
                margin-top: 38px;

                .footer-line {
                    width: 800px;
                    opacity: 20%;
                    border: 1px solid #D6EB31;

                    @media (width >= 1600px) {
                        width: 1194px;
                    }
                }
            }

            .footer-section3 {
                display: flex;
                align-content: center;
                justify-content: space-between;

                .footerAddress-container {

                    .ourLocation-container {
                        height: 228px;
                        width: 372px;

                        .footer-locationTxt {
                            font-size: 16px;
                            font-weight: 600;
                            margin-top: 50px;
                            color: var(--color-white);
                            font-family: "Poppins", sans-serif;
                        }

                        .footer-txt1 {
                            color: var(--color-white);
                            font-size: 16px;
                            font-weight: 400;
                            margin-bottom: 10px;
                            font-family: "DM Sans", sans-serif;
                        }

                        .footer-txt2 {
                            color: var(--color-white);
                            font-size: 16px;
                            font-weight: 400;
                            margin-top: -10px;
                            margin-bottom: 30px;
                            font-family: "DM Sans", sans-serif;
                        }

                        .footer-txt3 {
                            color: var(--color-white);
                            font-size: 14px;
                            font-weight: 400;
                            font-family: "DM Sans", sans-serif;
                        }
                    }
                }

                .hours-container {
                    height: 210px;
                    width: 210px;
                    text-align: end;

                    .hours-txt1 {
                        font-size: 16px;
                        font-weight: 600;
                        margin-top: 50px;
                        color: var(--color-white);
                        font-family: "Poppins", sans-serif;
                    }

                    .hours-txt2 {
                        color: var(--color-white);
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 10px;
                        font-family: "DM Sans", sans-serif;
                    }

                    .hours-txt3 {
                        color: var(--color-white);
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 10px;
                        font-family: "DM Sans", sans-serif;
                    }

                    .hours-txt4 {
                        font-size: 16px;
                        font-weight: 600;
                        margin-top: 50px;
                        color: var(--color-white);
                        font-family: "Poppins", sans-serif;
                    }

                    .hours-txt5 {
                        color: var(--color-white);
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 10px;
                        font-family: "DM Sans", sans-serif;
                    }
                }
            }

            .footer-section4 {
                margin-top: 44px;

                .footer-line {
                    width: 800px;
                    opacity: 20%;
                    border: 1px solid #D6EB31;

                    @media (width >= 1600px) {
                        width: 1194px;
                    }
                }
            }

            .footer-section5 {
                margin-top: 35px;
                display: flex;
                align-content: center;
                justify-content: center;

                .copyright-txt {
                    color: var(--color-white);
                    font-size: 16px;
                    font-weight: 400;
                    font-family: "DM Sans", sans-serif;
                }
            }
        }

        @media (width >= 768px) {
            width: 550px;
        }

        @media (width >= 1024px) {
            width: 800px;
        }

        @media (width >= 1440px) {
            width: 900px;
            height: 600px;

            .footerContent-phone {
                display: none;
            }

            .footerContent-desktop {
                display: block;
            }
        }

        @media (width >= 1600px) {
            width: 1320px;
        }
    }
}