@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --color-darkBg: #131020;
    --color-lightBg: #F7F7F7;
    --color-accent: #D6EB31;
    --color-white: #FFFFFF;
    --color-gray: #6F6F6F;
    --color-darkGray: #575757;
    --color-PlaceHolderTxt: #A7A7A7;
    --color-black: #000000;
    --color-red: #E50004;
    --color-charcoal: #27252F;
}

a {
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;

    &:hover {
        color: var(--color-accent);
    }
}

p {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-gray);
    font-family: "DMSans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--color-white);
    font-size: 54px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

h2 {
    color: var(--color-white);
    font-size: 16px;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
}

h3, h4 {
    color: var(--color-charcoal);
    font-size: 48px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

h5 {
    color: var(--color-black);
    font-size: 16px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
}

h6 {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-black);
    font-family: "DM Sans", sans-serif;
}

html, body {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    scroll-behavior: smooth;
    color: var(--color-gray);
    background-color: var(--color-lightBg);
    font-family: "DMSans", sans-serif;
}

.wrapper {
    margin-top: 17px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 16px;
    grid-template-rows: auto 1fr auto;
    height: 100dvh;
}

.container {
    display: flex;
    justify-content: center;
    padding-left: 0rem;
    padding-right: 0rem;
    width: 100%;

    @media (width >= 768px) {
        max-width: 720px;
    }

    @media (width >= 1024px) {
        max-width: 1000px;
    }

    @media (width >= 1440px) {
        max-width: 1400px;
    }

    @media (width < 1920px) {
        max-width: 1920px;
    }
}

.Home .header {
    width: 100%;
    height: 100px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px 25px 25px 25px;
    background-color: var(--color-darkBg);
    background-image: url("/images/header/dark-section-img.svg");

    @media (width >= 768px) {
        border-radius: 25px 25px 0 0;
    }

    .navbar {
        display: none;
    }

    .becomeMember {
        display: none;
    }

    .signIn-btn {
        display: none;
    }

    @media (width <= 374px) {
        padding: 0px;
    }

    @media (width >= 375px) {
        padding: 15px;
    }

    @media (width >= 768px) {
        padding: 32px;
    }

    @media (width >= 1250px) {
        padding: 32px;


        .menulogo-phone {
            display: none;
        }

        .navbar {
            display: flex;
        }

        .becomeMember {
            display: flex;
        }

        .signIn-btn {
            display: flex;
        }
    }
}

.menulogo-phone {
    position: relative;
    margin-left: 8px;
}

/* ---- From W3Schools "How to - Mobile Navigation Menu" tutorial and help debugging from ChatGPT. Nav bar ( Phone and Tablet ) ---- */

.topnav {
    position: relative;
}

.topnav #my-links {
    width: 200px;
    display: none;
    position: absolute;
    right: 20px;
    top: 40px;
}

.topnav #my-links.show {
    display: block;
    border-radius: 10px;
    background-color: var(--color-accent);
}

.topnav a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--color-charcoal);

    &:hover {
        text-decoration: underline;
        color: var(--color-charcoal);
    }
}

.topnav a.icon {
    background: var(--color-darkBg);
    display: block;
    position: absolute;
    z-index: 0;
    right: 0;
    top: 0;
}

/* --------------------- Nav bar End ( Phone and Tablet )--------------------- */

/* --------------- Training link - dropdown ( Phone and Tablet ) ------------- */

.nav-dropdown2 {
    position: relative;
}

.nav-dropdown2 #my-links3 {
    width: 200px;
    height: 130px;
    display: none;
    position: absolute;
    border-radius: 20px;
    padding: 20px 0px;
    background-color: var(--color-accent);
    top: 35px;
}

.nav-dropdown2 #my-links3 a {
    color: var(--color-charcoal);

    &:hover {
        text-decoration: underline;
    }
}

.nav-dropdown2 #my-links3.show {
    display: block;
    border-radius: 10px;
}

.link-list2 {
    width: 250px;
    margin-top: -10px;
    margin-left: -10px;
    line-height: 10px;
    color: var(--color-charcoal)
}


/* ----------------------------- Training link END --------------------------- */

/* ---------------------            Nav Desktop-size        -------------------*/

.nav-dropdown {
    position: relative;
}

.nav-dropdown #my-links2 {
    width: 192px;
    height: 134px;
    display: none;
    position: absolute;
    border-radius: 20px;
    padding: 20px 0px;
    background-color: var(--color-accent);
    left: 0px;
    top: 40px;
}

.nav-dropdown #my-links2 a {
    color: var(--color-charcoal);

    &:hover {
        text-decoration: underline;
    }
}

.nav-dropdown #my-links2.show {
    display: block;
    border-radius: 10px;
}

.link-list {
    width: 180px;
    margin-top: -7px;
    margin-left: -10px;
    line-height: 35px;
    color: var(--color-charcoal)
}

.navbar {
    width: 320px;
    justify-content: space-between;

    @media ( width >= 1260px) {
        width: 630px;
        margin-right: 85px;
    }

    @media ( width < 1980px) {
        width: 630px;
        margin-right: 100px;
    }
}

/* ----------------- nav bar End ( Desktop ) ------------------- */

.header-rs {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;

    @media (width >= 1250px) {
        display: flex;
    }
}

.signIn-btn {
    height: 50px;
    width: 130px;
    display: grid;
    align-content: center;
    justify-content: center;
    border-radius: 50px;
    background-color: var(--color-accent);
}

.signIn-btn:hover {
    background-color: var(--color-white);
}

.signIn-btnTxt {
    display: flex;
    padding: 8px 17px;
    color: var(--color-charcoal);
}

.singIn-btnIcon{
    margin-top: 9px;
    margin-left: -9px;
}

/* ----------------- Header design for the other pages -----------------*/

.Memberships .header, .CustomerService .header, .MyAccount .header, .SignIn .header, .SignUp .header, .SetPassword .header, .NotFound .header {
    width: 100%;
    height: 100px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    background-color: var(--color-darkBg);
    background-image: url("/images/header/dark-section-img.svg");

    .navbar {
        display: none;
    }

    .become-memberTxt {
        display: none;
    }

    .signIn-btn {
        display: none;
    }

    @media (width <= 374px) {
        padding: 0px;
    }

    @media (width >= 375px) {
        padding: 15px;
    }

    @media (width >= 768px) {
        padding: 32px;
    }

    @media (width >= 1250px) {
        padding: 32px;

        .menulogo-phone {
            display: none;
        }

        .navbar {
            display: flex;
        }

        .become-memberTxt {
            display: flex;
        }

        .signIn-btn {
            display: flex;
        }
    }
}

.menuIcon-phone {
    position: relative;
    margin-left: 8px;

    &:hover i { color: var(--color-accent) !important;}

    @media(width >= 374px) {
        margin-left: 25px;
    }

    @media(width >= 425px) {
        margin-left: 32px;
    }

    @media(width >= 500px) {
        margin-left: 70px;
    }

    @media(width >= 768px) {
        margin-left: 200px;
    }

    @media(width >= 1024px) {
        margin-left: 330px;
    }

    @media(width >= 1247px) {
        margin-left: 340px;
    }


    .header-rs {
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .signIn-btn {
        height: 50px;
        width: 130px;
        display: grid;
        align-content: center;
        justify-content: center;
        border-radius: 50px;
        background-color: var(--color-accent);
    }

    .signIn-btn:hover {
        background-color: var(--color-white);
    }

    .signIn-btnTxt {
        display: flex;
        padding: 8px 17px;
        color: var(--color-charcoal);
    }

    .singIn-btnIcon {
        margin-top: 9px;
        margin-left: -9px;
    }
}

/* ------------------------ Header design for the other pages (END) ------------------------*/

.home-page {
    width: 100%;

    .hero {
        height: 756px;
        width: 100%;
        display: none;
        align-content: center;
        justify-content: space-around;
        background-position-y: -100px;
        border-radius: 0px 0px 25px 25px;
        background-color: var(--color-darkBg);
        border: 1px solid rgba(214, 235, 49, 0.2);
        background-image: url("/images/header/dark-section-img.svg");

        .hero-rs {
            display: none;
        }

        @media (width >= 768px) {
            display: flex;
        }

        @media (width >= 1440px) {

            .hero-rs {
                display: block;
            }
        }

        .hero-ls {
            height: 490px;
            width: 622px;

            .hero-section1 {
                height: 30px;
                width: 215px;
                display: flex;
                margin-top: 117px;
                margin-bottom: 10px;
                border-radius: 25px;
                align-items: center;
                justify-content: space-evenly;
                background-color: var(--color-charcoal);

                .bullet {
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    margin-left: 3px;
                    background-color: var(--color-accent);
                }

                .hero-h1-section1 {
                    font-size: 14px;
                    font-weight: 600;
                    margin-left: -3px;
                    color: var(--color-white);
                    font-family: "DM Sans", sans-serif;
                }
            }

            .hero-h1-section2-1 {
            }

            .hero-h1-section2-2 {
                margin-top: -18px;
            }

            .hero-section3 {
                margin-top: 18px;
            }

            .hero-checkboxes {
                height: auto;
                width: 600px;
                margin-top: 50px;
                display: flex;
                justify-content: space-between;

                .hero-checkboxes-ls {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    .hero-checkbox1 {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }

                    .hero-checkbox2 {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }
                }

                .hero-checkboxes-rs {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    .hero-checkbox3 {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }

                    .hero-checkbox4 {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }
                }
            }

            .hero-ls-line {
                width: 623px;
                margin-top: 44px;
                opacity: 20%;
                border: 1px solid #D6EB31;
            }
        }

        .hero-rs {
            margin-top: 50px;

            @media (width >= 1440px) {
                margin-left: -100px;
            }

            @media (width >= 1600px) {
                margin-left: -495px;
            }
        }
    }

    .modernEquipment-section {
        height: 146px;
        width: 100%;

        .modernEquipment-container {
            height: 120px;
            width: 100%;
            display: flex;
            align-content: center;
            justify-content: space-around;
            margin-top: 16px;
            border-radius: 20px;
            background-color: var(--color-accent);

            .modernEquipment-logos {
                width: 1000px;
                display: flex;
                align-content: center;
                justify-content: space-around;
            }

            @media (width < 768px) {
                .modernEquipment-logos {
                    width: 1000px;
                    display: none;
                }

                .logo1 {
                    height: 40px;
                    width: 134px;
                    display: none;
                    margin-top: 40px;
                }

                .logo2 {
                    height: 40px;
                    width: 134px;
                    display: none;
                    margin-top: 40px;
                }

                .logo3 {
                    height: 40px;
                    width: 172px;
                    display: none;
                    margin-top: 40px;
                }

                .logo4 {
                    height: 40px;
                    width: 136px;
                    display: none;
                    margin-top: 40px;
                }

                .logo5 {
                    height: 40px;
                    width: 142px;
                    display: none;
                    margin-top: 40px;
                }

                .modernEquipment-text {
                    margin-top: 35px;
                    font-size: 30px;
                    display: flex;
                }
            }

            @media (width >= 768px) {

                .modernEquipment-logos {
                    width: 1000px;
                    display: flex;
                    align-content: center;
                    justify-content: space-around;
                }

                .logo1 {
                    height: 40px;
                    width: 134px;
                    display: flex;
                    margin-top: 40px;
                }

                .logo2 {
                    height: 40px;
                    width: 134px;
                    display: flex;
                    margin-top: 40px;
                }

                .logo3 {
                    height: 40px;
                    width: 172px;
                    display: flex;
                    margin-top: 40px;
                }

                .logo4 {
                    height: 40px;
                    width: 136px;
                    display: flex;
                    margin-top: 40px;
                }

                .logo5 {
                    height: 40px;
                    width: 142px;
                    display: flex;
                    margin-top: 40px;
                }

                .modernEquipment-text {
                    display: none;
                }
            }

            @media (width >= 1440px) {

                .modernEquipment-logos {
                    width: 1100px;
                    display: flex;
                    align-content: center;
                    justify-content: space-around;
                }

                .logo1 {
                    height: 40px;
                    width: 164px;
                    margin-top: 40px;
                }

                .logo2 {
                    height: 40px;
                    width: 164px;
                    margin-top: 40px;
                }

                .logo3 {
                    height: 40px;
                    width: 202px;
                    margin-top: 40px;
                }

                .logo4 {
                    height: 40px;
                    width: 166px;
                    margin-top: 40px;
                }

                .logo5 {
                    height: 40px;
                    width: 172px;
                    margin-top: 40px;
                }

                .modernEquipment-text {
                    margin-top: 25px;
                    font-weight: 700;
                    display: block;
                }
            }

            @media (width >= 1440px) {

                .modernEquipment-logos {
                    width: 950px;
                    display: flex;
                    align-content: center;
                    justify-content: space-around;
                }

                .logo1 {
                    height: 40px;
                    width: 164px;
                    margin-top: 40px;
                }

                .logo2 {
                    height: 40px;
                    width: 164px;
                    margin-top: 40px;
                }

                .logo3 {
                    height: 40px;
                    width: 202px;
                    margin-top: 40px;
                }

                .logo4 {
                    height: 40px;
                    width: 166px;
                    margin-top: 40px;
                }

                .logo5 {
                    height: 40px;
                    width: 172px;
                    margin-top: 40px;
                }

                .modernEquipment-text {
                    margin-top: 30px;
                    font-size: 40px;
                    font-weight: 700;
                    display: block;
                }
            }

            @media (width >= 1600px) {

                .modernEquipment-logos {
                    width: 1100px;
                    display: flex;
                    align-content: center;
                    justify-content: space-around;
                }

                .logo1 {
                    height: 40px;
                    width: 164px;
                    margin-top: 40px;
                }

                .logo2 {
                    height: 40px;
                    width: 164px;
                    margin-top: 40px;
                }

                .logo3 {
                    height: 40px;
                    width: 202px;
                    margin-top: 40px;
                }

                .logo4 {
                    height: 40px;
                    width: 166px;
                    margin-top: 40px;
                }

                .logo5 {
                    height: 40px;
                    width: 172px;
                    margin-top: 40px;
                }

                .modernEquipment-text {
                    margin-top: 25px;
                    font-size: 48px;
                    font-weight: 700;
                    display: block;
                }
            }
        }
    }

    .aboutUs-section {
        height: 770px;
        width: 100%;

        @media (width >= 768px) {
            height: 450px;
        }

        @media (width >= 1024px) {
            height: 500px;
        }

        @media (width >= 1440px) {
            height: 770px;
        }


        .about-us {
            height: 770px;
            width: 100%;

            @media (width >= 768px) {
                height: 450px;
                display: flex;
                align-content: center;
                justify-content: space-between;
            }

            @media (width >= 1024px) {
                height: 500px;
            }

            @media (width >= 1440px) {
                height: 770px;
                margin-top: 73px;
            }

            @media (width >= 1600px) {
                width: 1287px;
            }

            .about-us-ls {
                width: 100%;

                .aboutUs-img {
                    width: 290px;

                    @media (width >= 375px) {
                        width: 345px;
                    }

                    @media (width >= 425px) {
                        width: 395px;
                    }

                    @media (width >= 768px) {
                        width: 369px;
                    }

                    @media (width >= 1024px) {
                        width: 450px;
                    }

                    @media (width >= 1440px) {
                        height: 587px;
                        width: 675px;
                    }

                    @media (width >= 1600px) {
                        height: 587px;
                        width: 675px;
                    }
                }
            }

            .about-us-rs {
                width: 100%;
                margin-top: -100px;

                @media (width >= 1400px) {
                    margin-top: -90px;
                    margin-left: 30px;
                }

                .aboutUs-section1-container {
                    display: flex;
                    align-content: center;
                    justify-content: center;

                    @media (width >= 768px) {
                        justify-content: start;
                    }

                    .aboutUs-section1 {
                        height: 30px;
                        width: 108px;
                        display: flex;
                        margin-top: 117px;
                        margin-bottom: 10px;
                        border-radius: 25px;
                        align-items: center;
                        justify-content: space-around;
                        background-color: var(--color-charcoal);

                        @media (width >= 1600px) {
                            margin-top: 125px;
                        }

                        .aboutUs-bullet {
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                            margin-left: 0px;
                            background-color: var(--color-accent);
                        }

                        .aboutUs-section1-txt {
                            font-size: 14px;
                            font-weight: 600;
                            margin-left: -25px;
                            color: var(--color-white);
                            font-family: "DM Sans", sans-serif;
                        }
                    }
                }

                .aboutUs-section2 {
                    width: 100%;
                    text-align: center;

                    @media (width >= 768px) {
                        text-align: start;
                    }

                    .aboutUs-section2-txt1 {
                        font-size: 20px;
                        font-weight: 500;
                        margin-top: 0px;
                        color: var(--color-charcoal);
                        font-family: "Poppins", sans-serif;

                        @media (width >= 768px) {
                            font-size: 25px;
                            margin-top: -8px;
                        }

                        @media (width >= 1440px) {
                            font-size: 48px;
                            margin-top: 0px;
                        }
                    }

                    .aboutUs-section2-txt2 {
                        font-size: 20px;
                        font-weight: 500;
                        margin-top: -25px;
                        color: var(--color-charcoal);
                        font-family: "Poppins", sans-serif;

                        @media (width >= 768px) {
                            font-size: 25px;
                            margin-top: -30px;
                        }

                        @media (width >= 1440px) {
                            font-size: 48px;
                            margin-top: -65px;
                        }
                    }
                }

                .aboutUs-section3 {
                    width: 100%;

                    @media (width >= 1440px) {
                        margin-top: -27px;
                    }
                }

                .aboutUs-section4 {
                    height: 152px;
                    width: 100%;

                    @media (width >= 1600px) {
                        margin-top: 48px;
                    }

                    .aboutUs-section4-container {
                        height: 152px;
                        width: 100%;
                        padding: 35px 20px;
                        display: flex;
                        align-content: center;
                        justify-content: center;
                        border-radius: 20px;
                        background-color: var(--color-white);

                        @media (width >= 1440px) {
                            margin-top: 58px;
                        }

                        @media (width >= 1600px) {
                            width: 613px;
                            margin-top: 30px;
                        }

                        .aboutUs-section4-txtContainer {

                            .aboutUs-section4-txt1 {
                                font-size: 14px;

                                @media (width >= 1024px) {
                                    font-size: 16px;
                                    margin-top: 8px;
                                }
                            }

                            .aboutUs-section4-txt2, .aboutUs-section4-txt3 {
                                font-size: 14px;

                                @media (width >= 1024px) {
                                    font-size: 16px;
                                }
                            }
                        }

                        .quote-icon {
                            height: 62.63px;
                            width: 83px;
                            margin-top: 5px;
                            margin-left: -65px;
                        }
                    }
                }
            }
        }
    }


    .ourPrograms-section {
        height: 1250px;
        width: 100%;
        border-radius: 20px;
        background-color: var(--color-white);

        @media (width >= 768px) {
            height: 600px;
        }

        @media (width >= 1440px) {
            height: 855px;
        }

        .our-programs {
            height: 1200px;
            width: 100%;
            display: grid;
            text-align: center;
            align-content: start;
            justify-content: center;

            @media (width >= 768px) {
                height: 600px;
                margin-top: 40px;
            }

            @media (width >= 1024px) {
                height: 855px;
            }

            @media (width >= 1440px) {
                margin-top: 36px;
                align-content: center;
            }

            .ourPrograms-section1 {
                width: 100%;
                display: flex;
                align-content: center;
                justify-content: center;

                .ourPrograms-section1-container {
                    height: 30px;
                    width: 136px;
                    display: flex;
                    margin-top: 117px;
                    margin-bottom: 10px;
                    border-radius: 25px;
                    align-items: center;
                    justify-content: space-around;
                    background-color: var(--color-charcoal);

                    @media (width >= 768px) {
                        margin-top: 0px;
                        margin-bottom: 0px;
                    }

                    @media (width >= 1440px) {
                        margin-top: -57px;
                        margin-bottom: 0px;
                    }

                    .ourPrograms-bullet {
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        margin-left: 0px;
                        background-color: var(--color-accent);
                    }

                    .ourPrograms-section1-txt {
                        font-size: 14px;
                        font-weight: 600;
                        margin-left: -25px;
                        color: var(--color-white);
                        font-family: "DM Sans", sans-serif;
                    }
                }
            }

            .ourPrograms-section2 {
                width: 100%;

                @media (width >= 1600px) {
                    margin-bottom: -13px;
                }

                .ourPrograms-section2-txt1 {
                    font-size: 20px;

                    @media (width >= 768px) {
                        font-size: 40px;
                    }

                    @media (width >= 1024px) {
                        font-size: 48px;
                    }

                    @media (width >= 1440px) {
                        height: 70px;
                        margin-bottom: -4px;
                    }
                }

                .ourPrograms-section2-txt2 {
                    font-size: 20px;

                    @media (width >= 768px) {
                        font-size: 40px;
                    }

                    @media (width >= 1024px) {
                        font-size: 48px;
                        margin-top: 3px;
                    }
                }
            }

            .ourPrograms-section3 {
                height: 100%;
                width: 100%;
                margin-left: 4px;

                @media (width >= 425px) {
                    margin-left: 10px;
                }

                @media (width >= 768px) {
                    width: 750px;
                    margin-left: 0px;
                }

                @media (width >= 1024px) {
                    width: 950px;
                }

                @media (width >= 1440px) {
                    width: 1284px;
                }

                @media (width >= 1600px) {
                    margin-top: 43px;
                }

                .ourPrograms-img-container {
                    width: 100%;
                    display: block;

                    @media (width >= 768px) {
                        width: 740px;
                        display: flex;
                        align-content: center;
                        justify-content: space-around;
                    }

                    @media (width >= 1024px) {
                        width: 950px;
                    }

                    @media (width >= 1440px) {
                        width: 1284px;
                    }


                    .ourPrograms-img1 {
                        height: 300px;
                        width: 280px;
                        margin-top: 10px;
                        margin-bottom: 10px;

                        @media (width >= 768px) {
                            height: 300px;
                            width: 220px;
                        }

                        @media (width >= 1024px) {
                            width: 300px;
                        }

                        @media (width >= 1440px) {
                            height: 400px;
                            width: 400px;
                        }
                    }

                    .ourPrograms-img2 {
                        height: 300px;
                        width: 280px;
                        margin-top: 10px;
                        margin-bottom: 10px;

                        @media (width >= 768px) {
                            height: 300px;
                            width: 220px;
                        }

                        @media (width >= 1024px) {
                            width: 300px;
                        }

                        @media (width >= 1440px) {
                            height: 400px;
                            width: 400px;
                        }
                    }

                    .ourPrograms-img3 {
                        height: 300px;
                        width: 280px;
                        margin-top: 10px;
                        margin-bottom: 10px;

                        @media (width >= 768px) {
                            height: 300px;
                            width: 220px;
                        }

                        @media (width >= 1024px) {
                            width: 300px;
                        }

                        @media (width >= 1440px) {
                            height: 400px;
                            width: 400px;
                        }
                    }
                }
            }

            .ourPrograms-section4 {
                display: block;
                text-align: center;

                @media (width >= 1024px) {
                    display: flex;
                    margin-top: 20px;
                    align-content: center;
                    justify-content: center;
                }

                @media (width >= 1440px) {
                    margin-top: 43px;
                }

                .ourPrograms-navlink {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--color-black);
                    text-decoration: underline;
                    font-family: "DM Sans", sans-serif;
                }
            }
        }
    }

    .ourStore-section {
        height: 200px;
        width: 100%;
        text-align: center;

        @media (width >= 768px) {
            height: 500px;
        }

        @media (width >= 1440px) {
            height: 772px;
        }

        .our-store {
            height: 200px;
            width: 100%;
            margin-top: 62px;

            @media (width >= 768px) {
                height: 500px;
                width: 700px;
            }

            @media (width >= 1024px) {
                height: 648px;
                width: 900px;
                margin-top: 62px;
            }

            @media (width >= 1440px) {
                height: 648px;
                width: 1284px;
                margin-top: 62px;
            }

            @media (width >= 1600px) {
                height: 648px;
                width: 1284px;
                margin-top: 62px;
            }

            .rb {
                display: block;
            }

            .our-store-section1 {
                width: 100%;
                display: flex;
                margin-top: -30px;
                align-content: center;
                justify-content: center;

                @media (width >= 768px) {
                    margin-top: -30px;
                }

                @media (width >= 1440px) {
                    margin-top: 18px;
                }

                .our-store-section1-container {
                    height: 30px;
                    width: 106px;
                    display: flex;
                    border-radius: 25px;
                    align-items: center;
                    justify-content: space-around;
                    background-color: var(--color-charcoal);
                }

                .our-store-bullet {
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    margin-left: 0px;
                    background-color: var(--color-accent);
                }

                .our-store-section1-txt {
                    font-size: 14px;
                    font-weight: 600;
                    margin-left: -25px;
                    color: var(--color-white);
                    font-family: "DM Sans", sans-serif;
                }
            }

            .our-store-section2 {
                margin-top: 20px;

                @media (width >= 1440px) {
                    margin-top: 31px;
                }

                .our-store-section2-txt {
                    font-size: 20px;

                    @media (width >= 768px) {
                        font-size: 35px;
                    }

                    @media (width >= 1024px) {
                        font-size: 48px;
                    }
                }
            }

            .our-store-section3 {
                width: 100%;

                @media (width >= 768px) {
                    display: flex;
                    margin-top: 30px;
                    align-content: center;
                    justify-content: space-between;
                }

                @media (width >= 1024px) {
                    margin-top: 40px;
                }

                @media (width >= 1440px) {
                    margin-top: 80px;
                }

                .our-store-img {
                    display: none;

                    @media (width >= 768px) {
                        display: block;
                        height: 180px;
                        width: 180px;
                    }

                    @media (width >= 1440px) {
                        height: 295px;
                        width: 295px;
                    }
                }
            }

            .our-store-section4 {
                display: block;
                margin-top: 20px;
                text-align: center;

                @media (width >= 1024px) {
                    display: flex;
                    margin-top: 20px;
                    align-content: center;
                    justify-content: center;
                }

                @media (width >= 1440px) {
                    margin-top: 50px;
                }

                .ourStore-navlink {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--color-black);
                    text-decoration: underline;
                    font-family: "DM Sans", sans-serif;
                }
            }
        }
    }
}
.getStarted-btn {
    height: 50px;
    width: 168px;
    margin-top: 44px;
    display: grid;
    align-content: center;
    justify-content: center;
    border-radius: 50px;
    background-color: var(--color-accent);
}

.getStarted-btn:hover {
    background-color: var(--color-white);
}

.getStarted-btnTxt {
    display: flex;
    padding: 8px 17px;
    color: var(--color-charcoal);
}

.getStarted-btnIcon {
    margin-top: 9px;
    margin-left: -11px;
}

.footer-section {
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--color-lightBg);

    @media (width >= 1440px) {
        height: 660px;
    }


    .footer {
        height: 80px;
        width: 100%;
        display: flex;
        margin-top: 47px;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        background-color: var(--color-darkBg);
        background-image: url("/images/footer/dark-section-img.svg");

        .footerContent-phone {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            align-items: baseline;
            justify-content: space-between;
        }

        .footerContent-desktop {
            height: 490px;
            width: 800px;
            display: none;
            justify-content: center;

            @media (width >= 1600px) {
                width: 1194px;
            }

            .footer-section1 {
                display: flex;
                align-content: center;
                justify-content: space-between;

                .footer-logo {
                    height: 50px;
                    width: 214px;
                    margin-top: 20px;
                }

                .footerH3-container {

                    .footerH3-1 {
                        font-size: 20px;
                        color: var(--color-white);

                        @media (width >= 1600px) {
                            font-size: 28px;
                        }
                    }

                    .footerH3-2 {
                        font-size: 20px;
                        text-align: end;
                        color: var(--color-white);

                        @media (width >= 1600px) {
                            font-size: 28px;
                        }
                    }
                }
            }

            .footer-section2 {
                margin-top: 38px;

                .footer-line {
                    width: 800px;
                    opacity: 20%;
                    border: 1px solid #D6EB31;

                    @media (width >= 1600px) {
                        width: 1194px;
                    }
                }
            }

            .footer-section3 {
                display: flex;
                align-content: center;
                justify-content: space-between;

                .footerAddress-container {

                    .ourLocation-container {
                        height: 228px;
                        width: 372px;

                        .footer-locationTxt {
                            font-size: 16px;
                            font-weight: 600;
                            margin-top: 50px;
                            color: var(--color-white);
                            font-family: "Poppins", sans-serif;
                        }

                        .footer-txt1 {
                            color: var(--color-white);
                            font-size: 16px;
                            font-weight: 400;
                            margin-bottom: 10px;
                            font-family: "DM Sans", sans-serif;
                        }

                        .footer-txt2 {
                            color: var(--color-white);
                            font-size: 16px;
                            font-weight: 400;
                            margin-top: -10px;
                            margin-bottom: 30px;
                            font-family: "DM Sans", sans-serif;
                        }

                        .footer-txt3 {
                            color: var(--color-white);
                            font-size: 14px;
                            font-weight: 400;
                            font-family: "DM Sans", sans-serif;
                        }
                    }
                }

                .hours-container {
                    height: 210px;
                    width: 210px;
                    text-align: end;

                    .hours-txt1 {
                        font-size: 16px;
                        font-weight: 600;
                        margin-top: 50px;
                        color: var(--color-white);
                        font-family: "Poppins", sans-serif;
                    }

                    .hours-txt2 {
                        color: var(--color-white);
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 10px;
                        font-family: "DM Sans", sans-serif;
                    }

                    .hours-txt3 {
                        color: var(--color-white);
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 10px;
                        font-family: "DM Sans", sans-serif;
                    }

                    .hours-txt4 {
                        font-size: 16px;
                        font-weight: 600;
                        margin-top: 50px;
                        color: var(--color-white);
                        font-family: "Poppins", sans-serif;
                    }

                    .hours-txt5 {
                        color: var(--color-white);
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 10px;
                        font-family: "DM Sans", sans-serif;
                    }
                }
            }

            .footer-section4 {
                margin-top: 44px;

                .footer-line {
                    width: 800px;
                    opacity: 20%;
                    border: 1px solid #D6EB31;

                    @media (width >= 1600px) {
                        width: 1194px;
                    }
                }
            }

            .footer-section5 {
                margin-top: 35px;
                display: flex;
                align-content: center;
                justify-content: center;

                .copyright-txt {
                    color: var(--color-white);
                    font-size: 16px;
                    font-weight: 400;
                    font-family: "DM Sans", sans-serif;
                }
            }
        }

        @media (width >= 768px) {
            width: 550px;
        }

        @media (width >= 1024px) {
            width: 800px;
        }

        @media (width >= 1440px) {
            width: 900px;
            height: 600px;

            .footerContent-phone {
                display: none;
            }

            .footerContent-desktop {
                display: block;
            }
        }

        @media (width >= 1600px) {
            width: 1320px;
        }
    }
}