@{
    ViewData["Title"] = "Memberships";
}

<div class="container">
    <div class="membership-page">

        <section class="membershipPage-section1">
            @await Html.PartialAsync("membership-sections/_MembershipOptions")
        </section>

        <section class="membershipPage-section2">
            @await Html.PartialAsync("Partials/_FAQ-Section")
        </section>

    </div>
</div>