<section class="container">

    <div class="footer-section">
        <div class="footer">

            <div class="footerContent-phone">
                <div class="footerPhone-container">
                    <h2>© 2026 Core Fitness Group.</h2>
                    <h2>All Rights Reserved.</h2>
                </div>
            </div>

            <div class="footerContent-desktop">
                <div class="footer-section1">

                    <img src="~/images/footer/logotype.svg" alt="Image of a company logo" class="footer-logo" />

                    <div class="footerH3-container">

                        <h3 class="footerH3-1">
                            Empowering Your Fitness Journey with Expert
                        </h3>
                        <h3 class="footerH3-2">
                            Training and Lasting Results
                        </h3>
                    </div>

                </div>

                <div class="footer-section2">
                    <div class="footer-line"></div>
                </div>

                <div class="footer-section3">
                    <div class="footerAddress-container">
                        <div class="ourLocation-container">
                            <p class="footer-locationTxt">Our Location</p>
                            <p class="footer-txt1">Our supportive and knowledgeable trainers work</p>
                            <p class="footer-txt2">with member to provide encourangement.</p>
                            <img src="~/images/footer/footer-location-map 1.svg" alt="Image of a company logo" class="footerLocation-logo" />
                            <p class="footer-txt3">2nd Floor, Wellness Center, Drottninggatan 118, Stockholm</p>
                        </div>
                    </div>

                    <div class="hours-container">
                        <p class="hours-txt1">Working Hours</p>
                        <p class="hours-txt2">Mon - Fri:  06:00 - 18:00</p>
                        <p class="hours-txt3">Saturday:   10:00 - 18:00</p>
                        <p class="hours-txt4">Opening Hours</p>
                        <p class="hours-txt5">Mon - Sun:  04:00 - 23:00</p>

                    </div>
                </div>

                <div class="footer-section4">
                    <div class="footer-line"></div>
                </div>

                <div class="footer-section5">
                    <div class="copyright-txt">© 2026 Core Fitness Group. All Rights Reserved.</div>
                </div>

            </div>
        </div>
    </div>
</section>