<div class="getStarted-btn">
<a asp-controller="" asp-action="" class="getStarted-btnTxt"><h2 class="getStarted-btnTxt">Get Started</h2><div class="getStarted-btnIcon"></><i class="fa-solid fa-angle-right" style="color: #27252f;"></i></div></a>
</div>