<!-- // Help from ChatGPT on how to change link in the Header depending on the Page/View. See row: 62. -->

<section class="container">

    <div class="header">

        <div class="company-logo">
            <a asp-controller="Home" asp-action="Index" class="nav-links"><img src="~/images/header/logotype.svg" alt="Image of a company logo" /></a>
        </div>

        <div class="topnav">
            <div class="menulogo-phone">
                <a href="javascript:void(0);" class="menuIcon-phone" onclick="myFunction()">
                    <i class="fa-solid fa-bars fa-2xl" style="color: rgb(243, 243, 243);"></i> 
                </a>
            </div>

            <div id="my-links" class="active meny">
                <a asp-controller="" asp-action="" class="nav-links">Sign In</a>
                <a asp-controller="" asp-action="" class="nav-links">Fitness Centers</a>
                <a asp-controller="Memberships" asp-action="Index" class="nav-links">Memberships</a>

                <div class="nav-dropdown2">
                    <a href="javascript:void(0);" class="training-link2" onclick="myFunction3()">Training<i class="fa-solid fa-angle-down fa-sm"></i></a>

                    <div id="my-links3">
                        <ul class="link-list2">
                            <li><a asp-controller="" asp-action="" class="nav-links3">Personal Training</a></li>
                            <li><a asp-controller="" asp-action="" class="nav-links3">Group Training</a></li>
                            <li><a asp-controller="" asp-action="" class="nav-links3">Padel</a></li>
                        </ul>
                    </div>
                </div>

                <a asp-controller="CustomerService" asp-action="Index" class="nav-links">Customer Service</a>
                <a asp-controller="" asp-action="" class="nav-links">Store</a>
            </div>
        </div>

        <div class="navbar">
                <a asp-controller="" asp-action="" class="nav-links">Fitness Centers</a>
            <a asp-controller="Memberships" asp-action="Index" class="nav-links">Memberships</a>
            
            <div class="nav-dropdown">
                <a href="javascript:void(0);" class="training-link" onclick="myFunction2()">Training<i class="fa-solid fa-angle-down fa-sm"></i></a>

                <div id="my-links2">
                    <ul class="link-list">
                        <li><a asp-controller="" asp-action="" class="nav-links2">Personal Training</a></li>
                        <li><a asp-controller="" asp-action="" class="nav-links2">Group Training</a></li>
                        <li><a asp-controller="" asp-action="" class="nav-links2">Padel</a></li>
                    </ul>
                </div>
            </div>
            <a asp-controller="CustomerService" asp-action="Index" class="nav-links">Customer Service</a>
                <a asp-controller="" asp-action="" class="nav-links">Store</a>
        </div>

        <div class="header-rs">
            <div class="becomeMember"> 
                    <a asp-controller="" asp-action="" class="becomeMember-link">Become Member</a>
            </div>

            @await Html.PartialAsync("Partials/_SignInButton")

        </div>
    </div>

</section>
