
<div class="joinNow-btn">
<a asp-controller="Authentication" asp-action="SignUp" class="joinNow-btnTxt"><h2 class="joinNow-btnTxt">Join Now</h2><div class="joinNow-btnIcon"></><i class="fa-solid fa-angle-right" style="color: #27252f;"></i></div></a>
</div>