<div class="account-btn">
    <a asp-controller="Account" asp-action="My" class="account-btnTxt"><h2 class="account-btnTxt">My Account</h2><div class="account-btnIcon"></><i class="fa-solid fa-angle-right" style="color: #27252f;"></i></div></a>
</div>