<div class="signIn-btn">
<a asp-controller="Authentication" asp-action="SignIn" class="signIn-btnTxt"><h2 class="signIn-btnTxt">Sign In</h2><div class="singIn-btnIcon"></><i class="fa-solid fa-angle-right" style="color: #27252f;"></i></div></a>
</div>