<div class="container">

    <div class="about-us">
        <div class="about-us-ls">
            <img src="/images/about-us/section-img.svg" alt="A picture of two people exercising." class="aboutUs-img" />
        </div>

        <div class="about-us-rs">

            <div class="aboutUs-section1-container">
                <div class="aboutUs-section1">
                    <span class="aboutUs-bullet"></span>
                    <p class="aboutUs-section1-txt">About Us</p>
                </div>
            </div>

            <div class="aboutUs-section2">
                <p class="aboutUs-section2-txt1">Elevating Fitness Journey</p>
                <p class="aboutUs-section2-txt2">with Expert Guidance</p>
            </div>

            <div class="aboutUs-section3">
                <p class="aboutUs-section3-txt">We support every stage of your fitness journey with certified trainers, personalized programs proven methods designed to help you train safely, build strength.</p>
            </div>

            <div class="aboutUs-section4">
                <div class="aboutUs-section4-container">

                    <div class="aboutUs-section4-txtContainer">
                        <h5 class="aboutUs-section4-txt1">Our mission is to transform lives by combining expert guidance, </h5>
                        <h5 class="aboutUs-section4-txt2">powerful training programs, and a motivating community that helps </h5>
                        <h5 class="aboutUs-section4-txt3">you grow stronger every day.</h5>
                    </div>

                    <img src="/images/about-us/icon-about-body-quote-prime 1.svg" alt="Image of a quotation mark" class="quote-icon" />

                </div>
            </div>
        </div>
    </div>

</div>