<div class="container">
    <div class="modernEquipment-container">
        <div class="modernEquipment-logos">
            <img src="~/images/modern-equipment/company-supports-logo-1-prime 1.svg" alt="A company logo" class="logo1" />
            <img src="~/images/modern-equipment/company-supports-logo-2-prime 1.svg" alt="A company logo" class="logo2" />
            <img src="~/images/modern-equipment/company-supports-logo-3-prime 1.svg" alt="A company logo" class="logo3" />
            <img src="~/images/modern-equipment/company-supports-logo-4-prime 1.svg" alt="A company logo" class="logo4" />
            <img src="~/images/modern-equipment/company-supports-logo-5-prime 1.svg" alt="A company logo" class="logo5" />
        </div>
        <h3 class="modernEquipment-text">Modern Equipment</h3>
    </div>
</div>