<div class="container">
    <div class="ourPrograms">

        <div class="ourPrograms-section1">
            <div class="ourPrograms-section1-container">
                <span class="ourPrograms-bullet"></span>
                <p class="ourPrograms-section1-txt">Our Programs</p>
            </div>
        </div>

        <div class="ourPrograms-section2">
            <h3 class="ourPrograms-section2-txt1">Professional training program</h3>
            <h3 class="ourPrograms-section2-txt1">for stronger health</h3>
        </div>

        <div class="ourPrograms-section3">
            <div class="ourPrograms-img-container">
                <div class="ourPrograms-img1"><img src="~/images/our-programs/program-image-1 1.svg" alt="Picture of a person exercising." class="ourPrograms-img1" /></div>
                <div class="ourPrograms-img2"><img src="~/images/our-programs/program-image-2 1.svg" alt="Picture of a person exercising." class="ourPrograms-img2" /></div>
                <div class="ourPrograms-img3"><img src="~/images/our-programs/program-image-3 1.svg" alt="Picture of a person exercising." class="ourPrograms-img3" /></div>
            </div>
        </div>

        <div class="ourPrograms-section4">
            <h6 class="ourPrograms-section4-txt">Let's make something great work together.</h6>
            <a asp-controller="" asp-action="" class="ourPrograms-navlink">Get Free Quote</a>
        </div>

        

    </div>
</div>