<div class="container">
    <div class="our-store">

        <div class="our-store-section1">
            <div class="our-store-section1-container">
                <span class="our-store-dot"></span>
                <p class="our-store-section1-txt">Our Store</p>
            </div>
        </div>

        <div class="our-store-section2">
            <h3 class="our-store-section2-txt">High quality fitness products <span class="rb"></span>built for results</h3>
        </div>

        <div class="our-store-section3">
            <div><img src="~/images/home-page/our-store/product-image-1-prime 1.svg" alt="Alternate Text" class="our-store-img" /></div>
            <div><img src="~/images/home-page/our-store/product-image-2-prime 1.svg" alt="Alternate Text" class="our-store-img" /></div>
            <div><img src="~/images/home-page/our-store/product-image-3-prime 1.svg" alt="Alternate Text" class="our-store-img" /></div>
            <div><img src="~/images/home-page/our-store/product-image-4-prime 1.svg" alt="Alternate Text" class="our-store-img" /></div>
        </div>

        <div class="our-store-section4">
            <h6 class="ourStore-section4-txt">Let's make something great work together.</h6>
            <a asp-controller="" asp-action="" class="ourStore-navlink">Get Free Quote</a>
        </div>
    </div>
</div>