@model AdminViewModel;

@{
    ViewData["Title"] = "Admin Page";
}

<div class="container">
    <div class="adminPage">
        <section class="adminPage-section1">
            <h3 class="adminPage-sectionTitle1">Admin Page</h3>
        </section>

        <section class="adminPage-section2">
            <div class="adminPage-menue">
                <aside class="adminPage-menuebar">
                    <div class="adminPage-menuebar-menu">
                        <div class="adminPage-sidebarMenue-row1">
                            <p class="adminPage-sidebarMenue-row1-txt">Admin Menu Options</p>
                        </div>
                        <div class="adminPage-sidebarMenue-row2">
                            
                            <a asp-controller="MembershipPlan" asp-action="Index" class="adminPage-sidebar-link">Manage Membership Plans <div class="adminPage-linkIcon"><i class="fa-solid fa-angle-right"></i></div></a>
                            
                            <a asp-controller="ManageMemberships" asp-action="Index" class="adminPage-sidebar-link">Manage Members Membership<div class="adminPage-linkIcon"><i class="fa-solid fa-angle-right"></i></div></a>

                            <a asp-controller="" asp-action="" class="adminPage-sidebar-link">Manage Classes/Trainingsessions <div class="adminPage-linkIcon"><i class="fa-solid fa-angle-right"></i></div></a>

                        </div>
                    </div>
                </aside>
            </div>
        </section>
    </div>
</div>