@{
    ViewData["Title"] = "Home";
    ViewData["ShowOurClassesLink"] = false; // If set to "true", the "Become Member" link will switch to "Our Classes", ( Help from chatGPT on how to do this).
}

<div class="container"> 
    <div class="home-page">

        <div class="box"></div>
    </div>
</div>