
<!-- ChatGPT helped me explain how i could render different views. Here i use "section" to send information on what should be rendered on the page. -->

@model MyAccountViewModel

@{
    ViewData["Title"] = "My Account";
}

<div class="container"> 
    <div class="myAccount-page">
        <section class="myAccount-section1">
            <h3 class="myAccount-sectionTitle1">My Account</h3>
        </section>

        <section class="myAccount-section2">
            <div class="myAccount-ls">
                <aside class="myAccount-sidebar">
            
                    <div class="profileImage-wrapper">
                        <img src="@Model.AboutMeForm.ProfileImageUrl" alt="Profile Image" />
                    </div>
            
                    <div class="myAccount-sidebar-menu">
                        <div class="sidebarMenue-row1">
                            <p class="sidebarMenue-row1-txt">Menu Options</p>
                        </div>
                        <div class="sidebarMenue-row2">
                            <a asp-action="My" asp-route-section="about" class="myAccount-sidebar-link">About Me <div class="myAccount-linkIcon"><i class="fa-solid fa-angle-right"></i></div></a>
                            
                            <a asp-action="My" asp-route-section="membership" class="myAccount-sidebar-link">My Membership <div class="myAccount-linkIcon"><i class="fa-solid fa-angle-right"></i></div></a>
                            
                            <a asp-action="My" asp-route-section="booking" class="myAccount-sidebar-link">My Bookings <div class="myAccount-linkIcon"><i class="fa-solid fa-angle-right"></i></div></a>
                            
                            @if(User.IsInRole("Admin"))
                            {
                                <a asp-controller="Admin" asp-action="Index" class="myAccount-sidebar-link">Admin <div class="myAccount-linkIcon"><i class="fa-solid fa-angle-right"></i></div></a>
                            }
                            else
                            {
                                <span class="myAccount-sidebar-link notAdmin" data-toggle="tooltip" title="Only administartors have access to this page.">
                                    Admin
                                </span>    
                            }
                            <form asp-action="SignOut" asp-controller="Authentication" method="post">
                                <button type="submit" class="myAccount-sidebar-signOutBtn">
                                    Sign Out <div class="myAccount-btnIcon"><i class="fa-solid fa-angle-right"></i></div>
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="myAccount-sideBar-cancellationTxt">
                        <p class="cancellation-txt">If you like to cancel your account click below</p>
                    </div>

                    <section class="myAccount-deleteUser">
                        <form asp-action="DeleteUser" asp-controller="Authentication" method="Post">
                            <button class="deleteUser-btn">Remove Account</button>
                        </form>
                    </section>

                </aside>
            </div>

            <div class="myAccount-rs">

                @{
                    var section = ViewBag.Section as string;
                }

                @if (section == "about")
                {
                    @await Html.PartialAsync("_AboutMePartial", Model)
                }
                else if (section == "membership")
                {
                    @if(Model.Membership == null)
                    {
                        <div class="myAccount-noMembershipTxt-wrapper">
                            <h3 class="noActive-membership-txt">No active membership</h3>
                            <hr class="myAccount-line" />
                        </div>

                    }
                    else
                    {
                        @await Html.PartialAsync("_MembershipPartial", Model.Membership)
                    }
                }
                else if (section == "booking")
                {
                    @await Html.PartialAsync("_BookingPartial")
                }
                
                <div class="myStatisticsForm-wrapper">

                    <h4 class="aboutMe-form-h4">My Statistics</h4>

                    <div class="myStatisticsForm">

                        <div class="myStatistics-label-wrapper">
                            <div class="myStatistics-label">Check-In (last 30 days)</div>
                            <div class="myStatistics-label-number">25</div>
                        </div>

                        <!-- Statistics bar -->
                        <div class="myStatistics-bar1">
                            <div class="myStatistics-progressBar1"></div>
                        </div> 

                        <div class="myStatistics-label-wrapper">
                            <div class="myStatistics-label">Weight Goal</div>
                            <div class="myStatistics-label-number">50%</div>
                        </div>

                        <!-- Statistics bar -->
                        <div class="myStatistics-bar2">
                            <div class="myStatistics-progressBar2"></div>
                        </div>

                        <div class="myStatistics-label-wrapper">
                            <div class="myStatistics-label">Current BMI</div>
                            <div class="myStatistics-label-number">27</div>
                        </div>

                        <!-- Statistics bar -->
                        <div class="myStatistics-bar3">
                            <div class="myStatistics-progressBar3"></div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    </div>
</div>