@model RegisterPasswordForm

@{
    Layout = "Layouts/_AuthLayout";
    ViewData["Title"] = "Set Your Password";
}

<section class="setPassword-section">

    <div class="setPasswordForm-group-wrapper">
        <form asp-action="SetPassword" asp-controller="Authentication" method="post" novalidate>
            <!-- Anti-forgery token sent with the form. Verified by [ValidateAntiForgeryToken] in the controller on submit. -->
            @Html.AntiForgeryToken()

            <h1 class="setPasswordForm-h1">Set Your Password</h1>

            <p class="setPasswordForm-p">
                Set a strong password to protect your account. For security reasons, your password must be at
                least 8 characters long and include uppercase and lowercase letters, numbers, and special
                characters.
            </p>
            <hr class="setPasswordForm-line" />

            <div asp-validation-summary="ModelOnly"></div>

            @if (!string.IsNullOrWhiteSpace(ViewData["ErrorMessage"]?.ToString()))
            {
                <p class="additional-information">
                    @ViewData["ErrorMessage"]
                </p>
            }

            <div class="setPasswordForm-group password">
                <label class="setPasswordForm-group-label" asp-for="Password"></label>
                <input class="setPasswordForm-group-input" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>

            <div class="setPasswordForm-group confirmPassword">
                <label class="setPasswordForm-group-label" asp-for="ConfirmPassword"></label>
                <input class="setPasswordForm-group-input" asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>

            <div class="setPasswordFormBtn-wrapper">
                <button class="setPasswordForm-btn" type="submit">
                    <div></div>

                    <div class="setPasswordForm-submitBtnTxt">Continue</div>

                    <div class="setPasswordForm-btnIcon">
                        <i class="fa-solid fa-angle-right" style="color: #27252f;"></i>
                    </div>
                </button>
            </div>

            <div class="setPasswordForm-group-checkbox">
                <input type="checkbox" class="setPasswordForm-input" asp-for="AcceptTerms" />
                <label asp-for="AcceptTerms" />
                <span asp-validation-for="AcceptTerms"></span>
                <p class="TermsAndConditions">Accept user terms and conditions</p>
            </div>
        </form>
    </div>
</section>