@model SignInForm

@{
    Layout = "Layouts/_AuthLayout";
    ViewData["Title"] = "Sign In";
}
<section class="signIn-section">

    <div class="signInForm-wrapper">
        <form asp-action="SignIn" asp-controller="Authentication" method="post" novalidate>
            <!-- Anti-forgery token sent with the form. Verified by [ValidateAntiForgeryToken] in the controller on submit. -->
            @Html.AntiForgeryToken() 

            <h1 class="signInForm-h1">Welcome Back!</h1>

            <p class="signInForm-p">
               Log in to continue your fitness journey with full access to your customized program, training
               history, and progress tracking. Stay consistent, monitor your development, and keep moving
               forward with the structure and support built into your account.
           </p>
            <hr class="signInForm-line" />

            <div class="signInLogos-Wrapper">
               <dív class="signInForm-signInLogos">
           
                   <div class="logo1-wrapper">logo1</div>
                   <div class="logo2-wrapper">logo2</div>
                   <div class="logo3-wrapper">logo3</div>

               </dív>
            </div>

            <div class="signInForm-lineTextWrapper">
                <div class="line1"></div>
                <p class="signInLine-text">OR CONTINUE WITH</p>
                <div class="line2"></div>
            </div>

            <div asp-validation-summary="ModelOnly"></div>

            @if (!string.IsNullOrWhiteSpace(ViewData["ErrorMessage"]?.ToString()))
                {
                    <p class="additional-information">
                        @ViewData["ErrorMessage"]
                    </p>
                }

            <div class="signInForm-group">
                <label class="singIn-form-label" asp-for="Email"></label>
                <input class="signIn-form-input" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>

            <div class="signInForm-group password">

                <div class="signInFormLable-wrapper">
                <label class="singIn-form-label" asp-for="Password"></label>
                    <a asp-controller="" asp-action="" class="forgotPassword-link">Forgot your password?</a>
                </div>
                <input class="signIn-form-input" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>

            <div class="signInForm-group-rememberMe">
                <input type="checkbox" class="signIn-form-input" asp-for="RememberMe" />
                <label asp-for="RememberMe" />

                <p class="TermsAndConditions">Remember Me</p>
            </div>

            <div class="signInFormBtn-wrapper">
                <button class="signInForm-btn" type="submit">
                    <div></div>

                    <div class="SignInForm-submitBtnTxt">Continue</div>

                    <div class="SignInForm-btnIcon">
                        <i class="fa-solid fa-angle-right" style="color: #27252f;"></i>
                    </div>
                </button>
            </div>

            <div class="signInForm-group-checkbox">
                <input type="checkbox" class="signIn-form-input" asp-for="AcceptTerms" />
                <label asp-for="AcceptTerms" />
                <span asp-validation-for="AcceptTerms"></span>
                <p class="TermsAndConditions">Accept user terms and conditions</p>
            </div>
        </form>
    </div>
</section>